<!DOCTYPE html>
<html>
  <head>
    <title>Glycolyse/Citroenzuurcyclus/Oxidatieve fosforylering</title>
    <%= stylesheet_link_tag    "application" %>

    <%= csrf_meta_tags %>

    <!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","ac53bbf14bfb148384baa16afd576951"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
    </script><!-- end Mixpanel -->
  </head>

  <body>
    <div id="templates">
      <div class="enzyme"></div>
      <div class="molecule"></div>
    </div>

    <div id="cell">
      <%= yield %>

      <p id="footer">
        Made by <a href="http://twitter.com/pepachino">Pepijn Looije</a><br><br>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/nl/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/nl/88x31.png" /></a>
      </p>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
